.product-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: calc(100% - 3rem);
    padding: 1rem;
    margin-bottom: 3rem;
    border: 1px solid #ccc;
}
.product-img {
    text-align: center;
}
.product-name {
    padding-top: 1rem;
    font-weight: 700;
}
.product-bottom {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    padding: 1rem 0 2rem;
}
.product-price {
    font-weight: 700;
}
