.list {
    position: relative;
    top: 2rem;
    left: 25rem;
    width: calc(100% - 25rem);
}
.list-product {
    min-height: 48rem;
}
.list-sort {
    display: flex;
    justify-content: space-between;
}
.list-select label {
    padding-right: 1rem;
}
.list-select select {
    padding: 0.3rem 1rem;
    border: 1px solid #ccc;
}
.pagination-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    padding: 0.5rem;
    margin: 2rem 1.5rem;
    background-color: #eeeeee;
}
.pagination-item {
    font-size: 1.8rem;
    color: #0063c3;
    cursor: pointer;
}
.pagination-item-active {
    color: #292b2e;
    font-weight: 500;
}
.pagination-item-disable {
    color: #292b2e;
    cursor: auto !important;
}
