.wrapper {
    padding: 0 1.5rem;
}
.main {
    display: flex;
    padding-top: 6.2rem;
}
.text-clamp {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.text-clamp--1 {
    -webkit-line-clamp: 1;
}
.text-clamp--2 {
    -webkit-line-clamp: 2;
}
.text-clamp--3 {
    -webkit-line-clamp: 3;
}
.text-clamp--4 {
    -webkit-line-clamp: 4;
}
.text-clamp--5 {
    -webkit-line-clamp: 5;
}
