html {
    font-size: 62.5%;
}
*,
*:after,
*::before {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

a {
    text-decoration: none !important;
    color: inherit;
}
a:hover {
    text-decoration: none !important;
    color: inherit;
}
ol,
ul {
    list-style: none;
    margin: 0;
}
img {
    max-width: 100%;
    object-fit: cover;
    vertical-align: middle;
}
body {
    margin: 0;
    line-height: 1.4;
    font-weight: 400;
    font-size: 1.4rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
        "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

input,
textarea,
select,
option,
button {
    border: none;
    outline: none !important;
    background-color: transparent;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
        "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
